---
const {title, subtitle, slug, image} = Astro.props
---

<style>
  section {
    display: flex;
    flex-direction: column-reverse;
    gap: .5rem;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 4rem;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 8rem;

      &:nth-of-type(odd) {
        flex-direction: row-reverse;
      }

      &:not(:first-of-type) {
        margin-top: 8rem;
      }
    }

    h2, a {
      color: var(--saturn);
    }

    h3 {
      font-style: italic;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 4rem;
      box-shadow: 0 0 1rem .1em var(--saturn);
      transition: box-shadow .2s ease-in-out;
      aspect-ratio: 16/9;

      &:hover {
        box-shadow: 0 0 0 .2em var(--saturn);
      }

      @media screen and (min-width: 1024px) {
        width: 50%;
      }
    }
  }
</style>

<section>
  <div>
    <a href={`/insight/${slug}`}>
      <h2>{title}</h2>
    </a>
    <h3>{subtitle}</h3>
    <slot/>
  </div>
  <img src={image.url} alt={image.alt}>
</section>